<!-- home.erb > Challenge 4.4 -->
<!-- Format some book information -->


<h3><%= book.authors.join(", ") %></h3>

<li>Published on: <strong><%= book.publish_date.strftime("%-d %B %Y") %></strong></li>
