 <!-- home.erb > Task 9.1 -->
 <!-- This code will let you iterate through many books -->

<% if query %>
  <% if books.empty? %>
    <p>No books found for the query &lsquo;<strong><%= query %></strong>&rsquo;.</p>
    <p>Please try another search.</p>
  <% else %>
    <ul class="books">
      <% books.each do |book| %>
          <!-- The code that is already on home.erb, which displays a single book, goes here -->
          <!-- First, you need to take lines 4 to 10 from this snippet, above this comment, and paste it above the code in home.erb-->
          <!-- Then take lines 15 to 18 from this snippet, below this comment, and paste it below the code in home.erb  -->

      <% end %>
    </ul>
  <% end %>
<% end %>
