<!DOCTYPE html>
<html>
  <head>
    <title>Book Findr</title>
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">Book Findr</a></h1>
        <p>Find books using the <a href="https://developers.google.com/books/">Google Books API</a>.</p>
        <!-- Challenge 8.1 -->
        <!-- Add a form here to send a query to the Google Books API-->
        <!-- See snippets/8.1_form.html -->
      </header>
      <%= yield %>
    </div>

    <script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
  </body>
</html>
