<!DOCTYPE html>
<html>
  <head>
    <title>Book Findr</title>
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">Book Findr</a></h1>
        <p>Find books using the <a href="https://developers.google.com/books/">Google Books API</a>.</p>

        <form action="/">
          <input type="text" name="query" value="<%= query %>" />
          <input type="submit" value="Search" />
        </form>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
